<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {783, 559}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Rockwell</string>
			<key>Size</key>
			<real>24</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-05-24 14:43:46 +0000</string>
	<key>Creator</key>
	<string>Massimiliano Marcon</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 px</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{410.86292, 219.82858}, {45.789749, 34.553131}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>33844</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.41972971, -0.2356081}</string>
					<string>{-0.25036621, -0.065798759}</string>
					<string>{-0.080714703, 0.10376644}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.50659847, 0.096439362}</string>
					<string>{0.50659847, 0.096448898}</string>
					<string>{0.50659323, 0.096439362}</string>
					<string>{0.17683792, 0.52802181}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.20872307, 0.29645348}</string>
					<string>{0.20872402, 0.29645157}</string>
					<string>{0.20870733, 0.29644871}</string>
					<string>{-0.10499001, 0.3362627}</string>
					<string>{-0.29717684, 0.11338711}</string>
					<string>{-0.48961544, -0.10932732}</string>
					<string>{-0.49999905, -0.50000381}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.778742</string>
						<key>r</key>
						<string>0.424567</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{44.381691, 177.72343}, {45.789749, 34.553131}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33843</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.41972971, -0.2356081}</string>
					<string>{-0.25036621, -0.065798759}</string>
					<string>{-0.080714703, 0.10376644}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.50659847, 0.096439362}</string>
					<string>{0.50659847, 0.096448898}</string>
					<string>{0.50659323, 0.096439362}</string>
					<string>{0.17683792, 0.52802181}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.20872307, 0.29645348}</string>
					<string>{0.20872402, 0.29645157}</string>
					<string>{0.20870733, 0.29644871}</string>
					<string>{-0.10499001, 0.3362627}</string>
					<string>{-0.29717684, 0.11338711}</string>
					<string>{-0.48961544, -0.10932732}</string>
					<string>{-0.49999905, -0.50000381}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.778742</string>
						<key>r</key>
						<string>0.424567</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{264.38168, 235.61832}, {45.789749, 34.553131}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33842</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.41972971, -0.2356081}</string>
					<string>{-0.25036621, -0.065798759}</string>
					<string>{-0.080714703, 0.10376644}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.50659847, 0.096439362}</string>
					<string>{0.50659847, 0.096448898}</string>
					<string>{0.50659323, 0.096439362}</string>
					<string>{0.17683792, 0.52802181}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.20872307, 0.29645348}</string>
					<string>{0.20872402, 0.29645157}</string>
					<string>{0.20870733, 0.29644871}</string>
					<string>{-0.10499001, 0.3362627}</string>
					<string>{-0.29717684, 0.11338711}</string>
					<string>{-0.48961544, -0.10932732}</string>
					<string>{-0.49999905, -0.50000381}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.778742</string>
						<key>r</key>
						<string>0.424567</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{44.381691, 235.61832}, {45.789749, 34.553131}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33841</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.49999905, -0.50000095}</string>
					<string>{-0.41972971, -0.2356081}</string>
					<string>{-0.25036621, -0.065798759}</string>
					<string>{-0.080714703, 0.10376644}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1943779, 0.034480095}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.1377492, -0.20782375}</string>
					<string>{0.50659847, 0.096439362}</string>
					<string>{0.50659847, 0.096448898}</string>
					<string>{0.50659323, 0.096439362}</string>
					<string>{0.17683792, 0.52802181}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.17693663, 0.52803993}</string>
					<string>{0.20872307, 0.29645348}</string>
					<string>{0.20872402, 0.29645157}</string>
					<string>{0.20870733, 0.29644871}</string>
					<string>{-0.10499001, 0.3362627}</string>
					<string>{-0.29717684, 0.11338711}</string>
					<string>{-0.48961544, -0.10932732}</string>
					<string>{-0.49999905, -0.50000381}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.778742</string>
						<key>r</key>
						<string>0.424567</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{149.82855, 285.61832}, {45.789749, 34.553131}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33840</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.5}</string>
					<string>{-0.49999905, -0.50000477}</string>
					<string>{-0.41972971, -0.23561478}</string>
					<string>{-0.25037366, -0.065810204}</string>
					<string>{-0.080717742, 0.10376549}</string>
					<string>{0.19436836, 0.034482002}</string>
					<string>{0.19436836, 0.034482002}</string>
					<string>{0.19436836, 0.034482002}</string>
					<string>{0.13774383, -0.20782852}</string>
					<string>{0.13774383, -0.20782852}</string>
					<string>{0.13774383, -0.20782852}</string>
					<string>{0.50659734, 0.096443176}</string>
					<string>{0.50659734, 0.096449852}</string>
					<string>{0.50659037, 0.096443176}</string>
					<string>{0.17682719, 0.52802563}</string>
					<string>{0.17693186, 0.52803993}</string>
					<string>{0.17693186, 0.52803993}</string>
					<string>{0.20872116, 0.29645348}</string>
					<string>{0.20872116, 0.29645348}</string>
					<string>{0.20871115, 0.29646015}</string>
					<string>{-0.10499233, 0.33625984}</string>
					<string>{-0.29717875, 0.1133728}</string>
					<string>{-0.48962128, -0.10933495}</string>
					<string>{-0.49999905, -0.50001144}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.778742</string>
						<key>r</key>
						<string>0.424567</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{394.38171, 335.61832}, {45.789749, 34.553131}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33839</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.5}</string>
					<string>{-0.49999905, -0.50000477}</string>
					<string>{-0.41972971, -0.23561478}</string>
					<string>{-0.25037366, -0.065810204}</string>
					<string>{-0.080717742, 0.10376549}</string>
					<string>{0.19436836, 0.034482002}</string>
					<string>{0.19436836, 0.034482002}</string>
					<string>{0.19436836, 0.034482002}</string>
					<string>{0.13774383, -0.20782852}</string>
					<string>{0.13774383, -0.20782852}</string>
					<string>{0.13774383, -0.20782852}</string>
					<string>{0.50659734, 0.096443176}</string>
					<string>{0.50659734, 0.096449852}</string>
					<string>{0.50659037, 0.096443176}</string>
					<string>{0.17682719, 0.52802563}</string>
					<string>{0.17693186, 0.52803993}</string>
					<string>{0.17693186, 0.52803993}</string>
					<string>{0.20872116, 0.29645348}</string>
					<string>{0.20872116, 0.29645348}</string>
					<string>{0.20871115, 0.29646015}</string>
					<string>{-0.10499233, 0.33625984}</string>
					<string>{-0.29717875, 0.1133728}</string>
					<string>{-0.48962128, -0.10933495}</string>
					<string>{-0.49999905, -0.50001144}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.778742</string>
						<key>r</key>
						<string>0.424567</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.8</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>5.1873583793640137</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>0.5</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AbsoluteRotation</key>
			<string>YES</string>
			<key>Bounds</key>
			<string>{{434.34766, 272}, {126.229, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.0980392</string>
					<key>g</key>
					<string>0.0980392</string>
					<key>r</key>
					<string>0.0980392</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>2925</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.49999699, 0.5}</string>
					<string>{0.49999699, 0.5}</string>
					<string>{0.49999601, -0.5}</string>
					<string>{0.49999601, -0.5}</string>
					<string>{0.49999601, -0.5}</string>
					<string>{-0.39506099, -0.49999401}</string>
					<string>{-0.39506099, -0.49999401}</string>
					<string>{-0.39506099, -0.49999401}</string>
					<string>{-0.499998, 0.0249996}</string>
					<string>{-0.5, 0.0249996}</string>
					<string>{-0.49999899, 0.0249996}</string>
					<string>{-0.396413, 0.49167401}</string>
					<string>{-0.396413, 0.49165899}</string>
					<string>{-0.396413, 0.49165899}</string>
					<string>{0.5, 0.49998301}</string>
					<string>{0.5, 0.49998301}</string>
					<string>{0.5, 0.49998301}</string>
					<string>{0.49999699, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0249909</string>
						<key>g</key>
						<string>0.766479</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;\red25\green25\blue25;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs18 \cf2 Discovery/Messaging}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{550, 253.10577}, {130, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>2942</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs38 \cf0 Internet}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{15.83902, 396.21155}, {48, 48}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>2940</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{40, 410}, {400, 40}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Rockwell</string>
						<key>Size</key>
						<real>23</real>
					</dict>
					<key>ID</key>
					<integer>2941</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Join</key>
							<integer>0</integer>
							<key>Width</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 OpenNI/NITE}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2939</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40, 250}, {280, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>23</real>
			</dict>
			<key>ID</key>
			<integer>2937</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 kinect-proxy.js}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40, 70}, {400, 110}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>23</real>
			</dict>
			<key>ID</key>
			<integer>2935</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs48 \cf0 Display}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{330, 250}, {110, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>2934</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf0 magellan.js}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{240, 190}, {200, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>2933</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs28 \cf0 web-socket-streamer.js}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40, 190}, {190, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>23</real>
			</dict>
			<key>ID</key>
			<integer>2932</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 app.js}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40, 300}, {400, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>23</real>
			</dict>
			<key>ID</key>
			<integer>2931</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 zig.js}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{30, 40}, {420, 310}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>23</real>
			</dict>
			<key>ID</key>
			<integer>2930</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Pattern</key>
					<integer>1</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 Browser}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40, 360}, {400, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>23</real>
			</dict>
			<key>ID</key>
			<integer>2929</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 ZigFu Native Plugin}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40, 460}, {400, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Rockwell</string>
				<key>Size</key>
				<real>23</real>
			</dict>
			<key>ID</key>
			<integer>2926</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Join</key>
					<integer>0</integer>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 Rockwell;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 OS}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>10</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-05-24 15:07:37 +0000</string>
	<key>Modifier</key>
	<string>Massimiliano Marcon</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>1</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgVMCgUoDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>Zoom</key>
		<real>1.6100000143051147</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.6100000143051147</real>
				<real>1.6499999761581421</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
